a {
  color: white !important;
  text-decoration: none !important;
}

a:hover {
  color: #1eb0e5 !important;
}

/* Nav-Bar */
.nav-bar {
  background-color: #415e91;
  opacity: 0.9;
  width: 100%;
  height: 5rem;
  position: fixed;
  z-index: 9999;
  cursor: pointer;
  margin: 0;
  top: 0;
  left: 0;
  align-items: center;
}

/* Nav UL */
.nav-bar ul {
  display: flex;
  list-style: none;
  gap: 25px;
  align-items: center;
  padding: 10px;
  margin: 0;
}

/* Nav Li */
.nav-bar li {
  color: white;
  font-weight: 400;
}

/* Main DropDown */

.Homedrop-menu {
  padding: 1rem;
  list-style: none;
  background-color: white;
  display: none;
  position: absolute;
  z-index: 1000;
  border-radius: 4px;

}

.nav-item.dropdown:hover .Homedrop-menu {
  display: block;
}

.Homedrop-menu li {
  color: black;
  font-weight: 400;
  width: 9rem;
  height: auto;
  margin-bottom: 12px;
}

/* Deep Dropdown */
.sub-menu {
  padding: 1rem;
  list-style: none;
  background-color: white;
  display: none;
  position: absolute;
  z-index: 1001;
  border-radius: 4px;
  right: 110%;
  top: 0;
  width: 12rem;
  margin-bottom: 1rem;
  box-shadow: 4px 4px 8px solid rgb(165, 162, 162);
}

.sub-drop:hover .sub-menu {
  display: block;
}

.nav-item.dropdown:hover .sub-menu {
  display: none;
}

/* Allowing sub-menu to show when hovering on sub-drop specifically */
.nav-item.dropdown .sub-drop:hover .sub-menu {
  display: block;
}

.sub-drop {
  position: relative;
}

/* Nav-Bar Hover updated in a tag don't need it now */
/* .nav-bar li:hover {
  color: #1eb0e5;
} */

/* But exclude logo specifically */
/* .nav-bar li.logo:hover {
  color: white; 
} */


/* Arsha Text */
.logo {
  font-size: 35px;
  font-weight: 700px;
  margin-left: 6rem;
  margin-right: 6rem;
}

/* Nav Button */
.home-btn {
  position: relative;
  background-color: #40c0ef;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin-left: 4rem;
}

.home-btn:hover {
  background-color: #28b9ee;
}

/* Hero Section */
.hero {
  position: relative;
  padding-top: 13rem;
  padding-left: 6rem;
  gap: 5rem;
  background-color: #37517e;
}

#hero-text {
  width: 43%;
  margin-right: 1rem;
}

#hero-text span {
  color: rgb(217, 216, 216);
  font-size: 24px;

  font-weight: 400;
  text-wrap: pretty;
}

.hero p {
  font-size: 48px;
  font-weight: 800;
}

/* Hero Image */
#hero-image {
  width: 90%;
  height: 90%;

}

/* Text Button */
.hero-Tbtn {
  position: relative;
  background-color: #40c0ef;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin-left: 4rem;
  top: 1.5rem;
  right: 4rem;
  width: 9rem;
}

/* Hero Text Button */
.hero-Tbtn:hover {
  background-color: #26a7d6;
}

/* MODE BUTTON */
.Theme-btn{
  border: none;
  border-radius: 50%;
  background-color: white;
  height: 35px;
  
  }

/* ABOUT */
.about-container {
  padding-top: 3rem;
}

/* heading  */
.ht {
  color: #37517e;
  font-size: 35px;
  font-weight: 700;
  position: relative;
}

.ht::before {
  position: absolute;
  content: "";
  width: 155px;
  height: 0.7px;
  background-color: rgb(104, 102, 102);
  top: 100px;

}

.ht::after {
  position: absolute;
  content: "";
  width: 65px;
  height: 5px;
  background-color: rgb(51, 201, 255);
  top: 98px;
  justify-content: center;
  transform: translateX(-7rem);
  -webkit-transform: translateX(-7rem);
  -moz-transform: translateX(-7rem);
  -ms-transform: translateX(-7rem);
  -o-transform: translateX(-7rem);
}

.Ht-a,
.Ht-b {
  font-size: 18px;
  color: rgb(96, 96, 96);

}

#about-text li {
  font-size: 18px;
  color: rgb(96, 96, 96);
  list-style-type: none;
}

.about-btn {
  position: relative;
  border: 2px solid #40c0ef;
  color: #40c0ef;
  background-color: transparent;
  padding: 10px 18px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 4rem;
  top: 1.5rem;
  right: 4rem;
  width: 9rem;

}

.about-btn:hover {
  background-color: #1eb0e5;
  color: white;
}


/* THE COUNTER */
.counter-container{ 
  position: relative;
  background-color: aliceblue;
  align-items: center;
  justify-items: center;
  justify-content: center;
  gap:35px;
 
}

/* DARK THEAM */

.mode {
  width: 35px;
  height: 35px;
  border-radius: 50%;

  align-items: center;
  justify-content: center;
  display: flex;
  right: 0%;
  top: 14%;
  position: fixed;
  border: none;
}


/* SERVICES */
.servicemain-container {
  padding: 4rem;
  background-color: rgba(243, 243, 243, 0.8);
}


/* SIGN IN FORM IN HERO PAGE */
.SignIn{
  background-color: #415e91;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.form-container{position: relative;
  align-content: center;
  justify-items: center; 
  color: white;
}

.service-header {
  text-align: center;
  padding-top: 2rem;
  color: #37517e;
  padding-bottom: 3rem;
}
.visible{position: relative;
  left: 220px;
  bottom:35px;
}
.showbtn{
width: 35px;
background-color: white;
border: none;
}

.grid-container {
  display: grid;
  /* MAKES GRID RESPONSIVE */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 10px;
  padding: 10px;
}

.service-card {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  height: 16rem;
  width: 16rem;
  transition: all 0.3s ease-out;
  padding: 1rem;
  text-wrap: pretty;
}

/* ADD ICON THEN FIX PADDING */
.main-icon {
  padding: 2rem;
}

.sevice-heading {
  color: #37517e;
  text-align: left;
}

.service-text {
  font-size: 16px;
  text-align: left;

}

/* Moves Card */
.service-card:hover {
  transform: translateY(-14px);
  -webkit-transform: translateY(-14px);
  -moz-transform: translateY(-14px);
  -ms-transform: translateY(-14px);
  -o-transform: translateY(-14px);
}

/* Change color of icon and heading when card hover */
.service-card:hover .main-icon,
.service-card:hover .sevice-heading {
  color: #28b9ee;
}

/* TOP FOOTER */
.container-fluid {
  padding: 4rem;
}

.top-footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 10px;
  padding-left: 6rem;
  padding-right: 6rem;
}

.footer-container li,
p {
  list-style-type: none;
  margin-bottom: 12px;
  color: rgb(136, 136, 136);
}

.footer-container li:hover {
  color: #28b9ee;
}

.footer-container h1,
.footer-container h3 {
  color: #37517e;
  font-weight: 700;
}

/* CONTACT */
.contact-container {
  margin-left: 15%;

}

.af-heading h2,
.address h5 {
  color: #37517e;
  font-weight: 700;
}

.map {
  display: flex;
  justify-content: center;
}

.address li {
  list-style-type: none;
  font-size: 14px;
}

.address ul {
  padding-left: 4rem;
}

.address {
  background-color: rgb(255, 255, 255);
  padding-bottom: 2rem;
  padding-top: 2rem;

}


.Cform,
.address {
  min-height: 36rem;
  box-shadow: 0 8px 8px rgb(221, 220, 220);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top: 3px solid #28b9ee;
  border-bottom: 3px solid #28b9ee;
}

.Cform{
  background-color: #ffffff;
}
.form-container {
  position: relative;
  
}

.contact-btn {
  background-color: #1eb0e5 !important;
  color: white;
  border: none;
  padding: 0.6rem 1.5rem;
  border-radius: 55px;
  align-self: center;
  margin-top: 1rem;
  transform: translateX(150%);
  font-size: 12px;
  -webkit-transform: translateX(150%);
  -moz-transform: translateX(150%);
  -ms-transform: translateX(150%);
  -o-transform: translateX(150%);
}

.contact-btn:hover {
  background-color: #3cc6f9 !important;
}

/* TEAM */
.Theadding,
.Pheading {
  color: #37517e;
}

.team-container {
  padding-left: clamp(8rem, 5vw, 5rem);
  padding-right: clamp(8rem, 5vw, 5rem);
  padding-top: clamp(1rem, 4vw, 3rem);
  padding-bottom: clamp(1rem, 4vw, 3rem);
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
}

.Member-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

#Walter-Img,
#william-Img,
#Amanda-Img,
#Sara-Img {
  width: 100%;
  max-width: 200px;
  height: auto;
  border-radius: 50%;
  padding: 1rem;

}


.Team-Name {
  color: #37517e;
  font-weight: 700;
}

.card {
  box-shadow: 2px 2px 8px 0.7px rgb(238, 238, 238);
  transition: all 0.6s ease-out;
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -ms-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
}

.card:hover {
  transform: translateY(-4%);
  -webkit-transform: translateY(-4%);
  -moz-transform: translateY(-4%);
  -ms-transform: translateY(-4%);
  -o-transform: translateY(-4%);
}

/* PRICE */
.pricing-container {
  background-color: #f5f6f8;
  padding-bottom: 3rem;
  padding-top: 3rem;
}

.price-grid {
  display: grid;
  /* MAKES GRID RESPONSIVE */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  /* grid-gap: 0% !important; */
  /* padding: 10px; */
  padding-left: clamp(6rem, 6vw, 8rem);
  padding-right: clamp(6rem, 6vw, 8rem);
  padding-top: 3rem;
  gap: clamp(0.1rem, 4vw, 3rem);
  justify-items: center;
  align-items: center;

}

.price-cards {
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
  box-shadow: 2px 2px 14px 2px rgb(222, 222, 222);

}

.price-cards {
  padding-top: clamp(0.5rem, 3vw, 1rem);
}

.pricing-item li {
  list-style-type: none;
  margin-bottom: clamp(0.1rem, 4vw, 1rem);
  font-size: 18px;
  color: rgb(153, 152, 152);
}

.pricing-item h5 {
  color: #37517e;
}

.pricing-item p {
  color: #1eb0e5;
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 2rem;
}

.pricing-item p span {
  color: #8d8c8c;
  font-size: 24px;
  font-weight: 400;
}

.buy-btn {
  background-color: #ffffff;
  width: clamp(4rem, 10vw, 8rem);
  height: clamp(1rem, 10vw, 2.5rem);
  border-radius: 25px;
  color: #1eb0e5;
  border: 2px solid #1eb0e5;
  font-weight: 600;
}

.buy-btn:hover {
  background-color: #1eb0e5;
  color: white;
}

.featured-btn {
  background-color: #1eb0e5;
  width: clamp(4rem, 10vw, 8rem);
  height: clamp(1rem, 10vw, 2.5rem);
  border-radius: 25px;
  color: #ffffff;
  transition: all 0.90 ease;
  -webkit-transition: all 0.90 ease;
  -moz-transition: all 0.90 ease;
  -ms-transition: all 0.90 ease;
  -o-transition: all 0.90 ease;
}

.featured {

  border-top: 4px solid #28b9ee;
}

/* BLOG */
.blog-Main {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.blog-tittle {
  padding-top: 3rem;
  background-color: #8780801d;
  padding-bottom: 0.02rem;

}



/* BLOG */
.blog-tittle ol{
  display: flex;
  gap: 1rem;
 
  
}

.blog-tittle li{ 
  list-style-type: none;
}

.blog-tittle .BP::before{
  content: "/";
  padding-right: 18px;
 color: #8d8c8c;
}
.home-link a {
  color: black !important;
  text-decoration: none;
  transition: color 0.3s ease;
  
}
.home-link a:hover {
  color: #1eb0e5 !important;
}
.blog-Main p{
  color: #37517e;
  font-size: 25px;
  font-weight: 700;
  margin-left: 2rem;
  
}
 /* FOOTER */
 footer{
  background-color: #f5f6f8;
  padding-top: 2rem;
  padding-bottom: 2rem;
 }
 .news-letter{
  margin-left:23rem;
  margin-right:23rem;  
  justify-items: center;
  align-items: center;
 }
 .heading-footer{ 
  padding-left: 1rem;
  padding-right: 1rem;
 }
 .footer-heading{
  color: #37517e;
  font-size: 35px;
  font-weight: 700;
 }
 .heading-footer span{
  font-size: 16px;
  font-weight: 400;
 }
 .News-sub{
  background-color: #1eb0e5;
  padding: 0.40rem;
  color: white;
  border: none;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 25px;
 }
 
 .News-sub{
  top: 12px;
 }
 
/* BLOG */
.Bcard-body{
  width: 22rem;
  background-color: #ffffff;
  height:38rem;
  box-shadow: 0 0 14px 0 rgba(128, 128, 128, 0.239);

}
#Blog-Img{
  width: 100%;
}

.BlogCard-body h5{
  color: #37517e;
  font-weight: 700;
 
}
.BlogCard-body h5:hover{
  color: #1eb0e5;
}

.BlogCard-body{
  padding: 1.5rem;
  justify-items: left;
}
.search-bar, .recent-posts, .categories-container, .tag-container{
  background-color: #f5f6f8;
  padding: 2rem;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.search-bar h4::before,
.recent-posts h5::before,
.categories-container h5::before,
.tag-container h5::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 25px;
  background-color: #1eb0e5;
  margin-right: 0.5rem;
  vertical-align: middle;
 
}
.categories-list li{
  margin-bottom: 6px;
}
.categories-container ul{
  padding-left: 0%;
  
}
.categories-container li:hover,
.tag-container li:hover,
.post-title h6:hover{
  color: #1eb0e5;
}



.categories-container li,
 .tag-container li{
  list-style-type: none;
}
.tagList {
  display: flex;
  flex-wrap: wrap; 
  gap: 10px; 
  padding-left: 0; 
  margin: 0;
}

.tagList li {
  background-color: #eeeded;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  
  font-size: 14px;
  list-style-type: none;
}
.comment-date p{
  font-size: 14px;  
}

.BlogCard-text{
  font-size: 16px;
  color: black;
}
.Blogbtn{
  background-color:#3fb0d9;
  border:none;
  padding: 0.6rem;
  width: 8rem;
  border-radius: 5px;
  color: white;
}
#SqBlog-Img {
  width:70px;
 
}
.post{
  gap: 12px;
}