a{
  color: white !important;
  text-decoration: none !important;
}
a:hover{
  color: #1eb0e5 !important;
}

/* Nav-Bar */
.nav-bar {
  background-color: #415e91;
  opacity: 0.9;
  width: 100%;
  height: 5rem;
  position: fixed;
  z-index: 9999;
  cursor: pointer;
  margin: 0;
  top: 0;
  left: 0;
  align-items: center;
}

/* Nav UL */
.nav-bar ul {
  display: flex;
  list-style: none;
  gap: 25px;
  align-items: center;
  padding: 10px;
  margin: 0;
}

/* Nav Li */
.nav-bar li {
  color: white;
  font-weight: 400;
}

/* Main DropDown */

.Homedrop-menu {
  padding: 1rem;
  list-style: none;
  background-color: white;
  display: none;
  position: absolute;
  z-index: 1000;
  border-radius: 4px;

}

.nav-item.dropdown:hover .Homedrop-menu {
  display: block;
}

.Homedrop-menu li {
  color: black;
  font-weight: 400;
  width: 9rem;
  height: auto;
  margin-bottom: 12px;
}

/* Deep Dropdown */
.sub-menu {
  padding: 1rem;
  list-style: none;
  background-color: white;
  display: none;
  position: absolute;
  z-index: 1001;
  border-radius: 4px;
  right: 110%;
  top: 0;
  width: 12rem;
  margin-bottom: 1rem;
  box-shadow: 4px 4px 8px solid rgb(165, 162, 162);
}

.sub-drop:hover .sub-menu {
  display: block;
}

.nav-item.dropdown:hover .sub-menu {
  display: none;
}

/* Allowing sub-menu to show when hovering on sub-drop specifically */
.nav-item.dropdown .sub-drop:hover .sub-menu {
  display: block;
}

.sub-drop {
  position: relative;
}
/* Nav-Bar Hover updated in a tag don't need it now */ 
/* .nav-bar li:hover {
  color: #1eb0e5;
} */

/* But exclude logo specifically */
/* .nav-bar li.logo:hover {
  color: white; 
} */


/* Arsha Text */
.logo {
  font-size: 35px;
  font-weight: 700px;
  margin-left: 6rem;
  margin-right: 6rem;
}

/* Nav Button */
.home-btn {
  position: relative;
  background-color: #40c0ef;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin-left: 4rem;
}

.home-btn:hover {
  background-color: #28b9ee;
}

/* Hero Section */
.hero {
  position: relative;
  padding-top: 13rem;
  padding-left: 6rem;
  gap: 5rem;
  background-color: #37517e;
}

#hero-text {
  width: 43%;
  margin-right: 1rem;
}

#hero-text span {
  color: rgb(217, 216, 216);
  font-size: 24px;

  font-weight: 400;
  text-wrap: pretty;
}

.hero p {
  font-size: 48px;
  font-weight: 800;
}

/* Hero Image */
#hero-image {
  width: 90%;
  height: 90%;

}

/* Text Button */
.hero-Tbtn {
  position: relative;
  background-color: #40c0ef;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin-left: 4rem;
  top: 1.5rem;
  right: 4rem;
  width: 9rem;
}

/* Hero Text Button */
.hero-Tbtn:hover {
  background-color: #26a7d6;
}

/* ABOUT */
.about-container{
  padding-top:3rem ;
}
/* heading  */
.ht{
  color: #37517e;
  font-size: 35px;
  font-weight: 700;
  position: relative;
 }
.ht::before{
  position: absolute;
  content: "";
  width: 155px;
  height: 0.7px;
  background-color: rgb(104, 102, 102);
  top: 100px;
  
}
.ht::after{
  position: absolute;
  content: "";
  width: 65px;
  height: 5px;
  background-color: rgb(51, 201, 255);
  top: 98px;
  justify-content: center;
  transform: translateX(-7rem);
  -webkit-transform: translateX(-7rem);
  -moz-transform: translateX(-7rem);
  -ms-transform: translateX(-7rem);
  -o-transform: translateX(-7rem);
}
.Ht-a, .Ht-b{
  font-size: 18px;
  color: rgb(96, 96, 96);
  
}
#about-text li{
font-size: 18px;
  color: rgb(96, 96, 96);
  list-style-type: none;
}
.about-btn{
  position: relative;
  border:2px solid #40c0ef;
  color:#40c0ef;
  background-color: transparent;
  padding: 10px 18px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 4rem;
  top: 1.5rem;
  right: 4rem;
  width: 9rem;
 
}
.about-btn:hover{
  background-color: #1eb0e5;
  color: white;
}

/* SERVICES */
.servicemain-container{
  padding: 4rem;
   background-color: rgba(243, 243, 243, 0.8);
}

.service-header{
  text-align: center;
  padding-top: 2rem;
  color: #37517e;
  padding-bottom: 3rem;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
 
  padding: 10px;
}

.service-card {
 background-color: rgba(255, 255, 255, 0.8);
 text-align: center;
 padding: 20px 0;
 font-size: 30px;
 height:16rem;
 width: 16rem;
 transition: all 0.3s ease-out;
 padding: 1rem;
 text-wrap: pretty;
}
/* ADD ICON THEN FIX PADDING */
.main-icon{
  padding: 2rem;
}
.sevice-heading{
  color: #37517e;
  text-align: left;
}
.service-text{
  font-size: 16px;
  text-align: left;
  
}
/* Moves Card */
.service-card:hover{
  transform: translateY(-14px);
 
}
/* Change color of icon and heading when card hover */
.service-card:hover .main-icon,
.service-card:hover .sevice-heading {
  color: #28b9ee;
}

